.question_input{
    width: 100%;
    margin-right: 30px;
    margin-top: 30px;
}

.question_box{
    padding-top: 20%;
    padding-left: 5%;
}
.question_button{
    margin-top: 25px;
}

.img_watsonx {
    width: 98%;
}

.answer_table {
    margin: 1.5%;
    width: 97%;
}

.answer_area {
    width: 84%;
    text-align: left;
    margin-left: 1.5%;
    padding-top: 0.7%;
}

.tabs-group-content{
    padding: 20px
}

.bottomContainer{
    flex: 1;
    float: right;
    text-align: right;
}

.above_table{
    display: flex;
}

.background_change{
    background: white;
}

.answer_text{
    font-size: 20px; 
    padding-bottom: 30px;
}

